h1 {
    text-align: center;
    font-weight: 900;
    text-decoration: underline wavy #4023be;
    font-size: 200%;
}

p{
    /* text-align: center;
    font-weight: normal; */
    line-height: 1.5;
    /* letter-spacing: -1px; */
}

a {
    text-decoration: none;
    /* color: black; */
}